@charset "utf-8";
/*
 * Created by chenLiang on 2020/3/31.
 */
.password-box{
  color: #000;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  .ab-box{
    position: fixed;
    bottom: 50%;
    left: 0;
    z-index: 100;
    width: 100%;
  }
  &-content{
    width: 90vw;
    height: rpx(340);
    position: relative;
    background: #fff;
    border-radius: rpx(10);
    margin:0 auto rpx(92);
    z-index: 1;
  }
  &-title{
    color: #000;
    font-size: rpx(28);
    text-align: center;
    height: rpx(100);
    line-height: rpx(100);
  }
  &-modal{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
  }
  &-input.wa-row{
    //overflow: hidden;
    //padding-left: rpx(20);
    width: rpx(599);
    margin: 0 auto;
    @include borderAllOne();
    .wa-col-16{
      float: left;
      flex: 0 0 16.66%;
      max-width: 16.66%;
      height: rpx(100);
      line-height: rpx(100);
      text-align: center;
      color: #000;
      font-size: rpx(40);
      @include border-one($borderColor, left);
      .full-num{
        display: inline-block;
        width: rpx(20);
        height: rpx(20);
        border-radius: rpx(10);
        background: #000;
      }
      .cursor-on{

      }
    }
    input{
      outline: none;
      -webkit-appearance: none;
      border-radius: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-indent: -999em;
    }
  }
  .err-tips{
    padding-top: rpx(30);
    color: $baseRed;
    padding-left: rpx(40);
  }
  &-tips{
    font-size: rpx(28);
    text-align: right;
    color: #4883F6;
    padding: rpx(80) rpx(20) 0;
  }
  &-close{
    position: absolute;
    top: rpx(20);
    right: rpx(20);
    font-size: rpx(40);
    &:before {
      content: '\2716';
      color: #ccc;
    }
  }
}