@charset "utf-8";
/*
 * Created by chenLiang on 2020/4/1.
 */
.robot_empty{
  font-size: rpx(30);
  color: #E4F3FF;
  text-align: center;
  img{
    width: rpx(160);
  }
  p{
    padding-top: rpx(16);
  }
}