@charset "utf-8";
/*
 * Created by chenLiang on 2020/4/14.
 */
.arbitrage {
  min-height: 100vh;
  max-width: rpx(750);
  position: relative;
  background-color: #16143C;
  box-sizing: border-box;

  &-content {
    font-family: PingFangSC-Regular;
    width: 100%;
    position: absolute;
    top: rpx(230);
    background-image: linear-gradient(180deg, rgba(22, 20, 60, 0.00) 0%, #16143C 10%, #16143C 100%);

    .item-list {
      padding: 0 4%;

      .item {
        color: #16143C;
        display: block;
        position: relative;
        background: #E4F3FF;
        border: 0 solid #979797;
        border-radius: rpx(8);
        font-family: PingFangSC-Medium;
        padding: 0 4%;
        margin-bottom: rpx(20);
        .top {
          width: 70%;
          font-size: rpx(32);
          color: #2F2F2F;
          line-height: rpx(32);
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .mid {
          margin-top: rpx(40);
          font-size: rpx(48);
          line-height: rpx(48);
          display: flex;

          .num {
            flex: 1;
            text-align: center;

            p:nth-child(2) {
              font-family: PingFangSC-Regular;
              font-size: rpx(24);
              color: #999999;
              letter-spacing: 0.3px;
            }
          }
        }
      }
    }

    .txt_wu {
      width: 100%;
      margin-top: rpx(10);
      font-size: rpx(30);
      color: #E4F3FF;
      text-align: center;
      line-height: rpx(30);
    }

    img {
      margin: rpx(40) auto rpx(160);
      width: 40%;
      height: rpx(96);
    }
    .huabao-bottom {
      img {
        margin: rpx(40) auto rpx(80)
      }
    }
  }
}
.entrust_detail.strategy{
  .strategy-content{
    position: initial;
    padding-top: rpx(30);
    .strategy-mid{
      min-height: rpx(100);
      height: auto;
      justify-content: left;
      font-family: PingFangSC-Regular;
      position: relative;
      display: flex;
      box-sizing: border-box;
      width: 100%;
      color: #2f2f2f;
      &:after{
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 200%;
        height: 200%;
        content: '';
        transform: scale(.5);
        transform-origin: 0 0;
        pointer-events: none;
        border-bottom: 1px solid #e4e4e4;
      }
    }
    .left{
      flex: 0 0 30%;
      max-width: 30%;
    }
  }
  .blue-color{
    color: $baseBlue;
  }
  .left{
    font-size: rpx(30);
    display: flex;
    box-sizing: border-box;
    max-width: 45%;
    align-items: center;
    flex: 0 0 45%;
  }
  .right{
    font-size: rpx(30);
    line-height: 1.5;
    display: flex;
    box-sizing: border-box;
    padding: .1493333333rem 0;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}